* {
  padding: 0px;
  margin: 0px;
  font-family: 'Nunito', sans-serif;
  color: #45455c;
  font-size: 16px;
}

body {
  scroll-behavior: smooth;
}

h1 {
  padding: 0px;
  margin: 0px;
  font-size: 28px;
}

h2 {
  padding: 0px;
  margin: 0px;
  font-size: 26px;
}

h3 {
  padding: 0px;
  margin: 0px;
  font-size: 24px;
}

h4 {
  padding: 0px;
  margin: 0px;
  font-size: 22px;
}

h5 {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}

h6 {
  padding: 0px;
  margin: 0px;
  font-size: 18px;
}

.header {
  float: left;
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 100px;
  position: relative;
}

.header .toggle {
  display: none;
}

.header::after {
  content: '';
  position: absolute;
  width: 86%;
  height: 1px;
  background: #eeeeee;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header .brand {
  float: left;
  width: 200px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  margin: 0px;
  margin-top: 4px;
}

.header .brand a {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  float: left;
}

.header .brand h4 {
  padding: 0px;
  margin: 0px;
  font-weight: 800;
  color: #4d5eff;
  font-size: 28px;
}

.header .brand h4 span {
  font-size: 28px;
}

.header .menubar {
  float: left;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  float: right;
}

.header .menubar a {
  text-decoration: none;
  color: #45455c;
  float: left;
  padding: 5px 0px;
  margin-left: 25px;
  position: relative;
}

.header .menubar a.active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #45455c;
  content: "";
}

.dashboardHeader {
  height: 45px !important;
  padding: 0px 50px !important;
  background: #1d1f2e;
}

.dashboardHeader::after {
  background: none;
  width: 100%;
}

.dashboardHeader .brand h4 {
  color: white;
}

.dashboardHeader .menubar a {
  color: white;
}

@media screen and (max-width: 400px) {
  .header {
    display: block;
    padding: 0px 20px;
    position: relative;
  }
  .header .toggle {
    background: none;
    border: none;
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: block;
  }
  .header .menubar {
    width: 100%;
    background: white;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: 999;
    display: block;
    position: absolute;
    margin-top: 10vh;
    left: 0;
    padding: 0px 20px;
    overflow: hidden;
  }
  .header .menubar a {
    width: 100%;
    margin: 0px;
    padding: 8px 0px;
    border-bottom: 1px solid #e7e7e7;
    float: left;
    position: relative;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .header .menubar :hover {
    background: #e7e7e7;
    padding: 8px 10px;
  }
  .header .hide {
    margin-left: -100% !important;
    width: 100%;
    float: left;
  }
  .dashboardHeader .menubar a {
    color: #45455c !important;
  }
}
/*# sourceMappingURL=header.css.map */